* {
  font-family: "Merriweather", serif;
}

#container_new_year {
  background-image: url(src/Banner_Image.png);
  width: 1320px;
  height: 600px;
  border-radius: 16px;
}

#container_new_year h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
#container_new_year h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  text-align: center;
  width: 632px;
  padding: 0;
  margin: 0;
}

#container_new_year #inner_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  z-index: 100;
}
