* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

main {
  margin-top: 20px;
}

#container_new_year {
  background-image: url(src/Banner_Image.png);
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: auto;
}

#container_new_year h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
#container_new_year h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  text-align: center;
  width: 632px;
  padding: 0;
  margin: 0;
}

#container_new_year #inner_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  z-index: 100;
}
#container_sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px;
  text-transform: uppercase;
}
#container_sale * {
  font-family: "Inter", sans-serif;
}
#discount {
  color: #f00;
  font-weight: 700;
  font-size: 88px;
}
#holiday_deals {
  font-weight: 500;
  font-size: 24px;
  color: #f00;
  margin-top: 48px;
}
#new_year_logo {
  width: 802px;
  height: 500px;
  margin-top: 48px;
}

#all_catagories {
  font-weight: 700;
  font-size: 48px;
  margin-top: 16px;
}

#inner_container_party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 16px;
  margin: auto;
  width: 1320px;
  height: 600px;
  position: relative;
}
#container_party {
  background-image: url(./src/Vectorrr.png);
  color: #fff;
  background-repeat: no-repeat;
  margin: auto;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
}

#positining_container {
  position: absolute;
  top: 126px;
  left: 126px;
}

#container_party h2 {
  font-size: 64px;
  width: 642px;
}

#container_party p {
  font-family: "Merriweather", serif;
  font-size: 18px;
  width: 697px;
  font-weight: 400;
}
#positining_container button {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#dating {
  margin: auto;
  border-radius: 16px;
  margin-top: 120px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
}

.color_red {
  color: #f00;
  font-family: "Inter", sans-serif;
}

.formating {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin: 0;
}

#dating button {
  display: block;
  margin: auto;
  margin-top: 64px;
  background-color: #f00;
  color: #fff;
  border: none;
  outline: none;
  padding: 16px 32px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

#parent_about_happy_new_year {
  width: 1320px;
  margin: auto;
}

#about_happy_new_year {
  display: flex;
  gap: 70px;
  width: 1320px;
}

#about_happy_new_year * {
  font-family: "Inter", sans-serif;
}

#about_happy_new_year #best_offer h3 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

#about_happy_new_year #best_offer h2 {
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

#about_happy_new_year #best_offer p {
  font-size: 20px;
  font-weight: 400;
  width: 393px;
}

#about_happy_new_year #ellipse {
  margin-top: -70px;
}

#about_happy_new_year #ellipse img {
  border: 15px solid #f00;
  border-radius: 50%;
}
#about_happy_new_year #ellipse img {
  padding: 49px;
}

#parent_about_happy_new_year #about_happy_new_year #new_year h2 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#parent_about_happy_new_year #about_happy_new_year #new_year p {
  font-size: 20px;
  width: 276px;
  margin-bottom: 50px;
}

#best_gift {
  width: 1320px;
  margin: auto;
}

#best_gift h2 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

#best_gift h3 {
  colro: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 20px 0px;
}

#best_gift #gift_desciption {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  width: 896px;
  margin-bottom: 48px;
}

#best_gift .product img {
  display: block;
  width: 100%;
  margin: 0 auto;
  transition: transform 0.3s;
}

.img-container {
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.img-container .child_div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 54, 54, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.img-container:hover img {
  transform: scale(1.5);
}

.img-container:hover .child_div {
  opacity: 1;
  transform: translateY(0);
}

.parent_div {
  width: 424px;
  color: white;
  padding: 1px;
}

#buy_now a {
  text-decoration: none;
  background-color: rgb(255, 47, 47);
  padding: 15px 25px;
  color: white;
  border-radius: 7px;
}

#best_gift .product {
  display: flex;
  gap: 24px;
  margin: auto;
}

#newsletter {
  width: 1320px;
  height: 616px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.08);
  margin: 120px auto 120px auto;
  align-items: center;
  justify-content: center;
}

#newsletter img {
  width: 150px;
  height: 150px;
}

#newsletter h2 {
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  margin-top: 40px;
}

#newsletter p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400px;
  text-align: center;
  margin-bottom: 48px;
}

#newsletter div input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.3);
}
#newsletter div input[type="email"] {
  padding: 25px 267px 25px 30px;
  outline: none;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 0;
}
#newsletter div input[type="submit"] {
  margin: 0;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: white;
  background-color: #ff0000;
  padding: 15px 56px 20px 56px;
  width: 210px;
  height: 67px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

footer {
  width: 100%;
  height: 609px;
  background-color: #070211;
  color: #fff;
}

#footer_first_part {
  display: flex;
  justify-content: space-between;
}

#footer_first_part .contact1 {
  margin: 120px 140px 50px 140px;
}

.footer_template {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.contact1 a {
  text-decoration: none;
  color: #fff;
}

hr {

  border: 1px solid rgba(255, 255, 255, 0.15);

;
}

footer div .logo {
  margin-right: 24px;
}

footer #logo {
  margin-top: 48px;
  text-align: center;
  margin-bottom: 48px;
}

#footer_last_part {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#footer_last_part .right {
  margin-left: 140px;
}
#footer_last_part .subscribe {
  margin-right: 140px;
}


#sale_disc h3{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #070211;
    margin-top: 120px;
    font-weight: 500;
    text-align: center;
}

#sale_disc h2{
  font-family: "Merriweather", serif;
  font-size: 72px;
  text-align: center;
  margin-top: 10px;
}

#sale_disc p{
  width: 1068px;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: rgba(7, 2, 17, 0.60);
  font-weight: 500;
  font-size: 20px;
  margin: auto;
}

#sale_disc_image{
  height: 662px;
  width: 1320px;
  position: relative;
  margin: 50px auto 188px auto;
}
#img_1{
  position: absolute;
  left: 890px;
  top:0px;
}
.img_1{
  height: 433px;
  width: 429px;
}

#img_4{
  position: absolute;
  top:433px;
  left: 0px;
}

#img_3{
  position:absolute;
  z-index: 10;
  top: 30px;
}

#img_2{
  position:absolute;
  z-index: 10;
  top: 60px;
  left: 730px;
}